ul
{
	padding-top:1.5em;
}
.bordear
{
	border: 1px solid;
}
.centrar
{
	text-align: center;
}
.clear
{
	clear: both;
}
.letter-white
{
	color:#fff;
}
#Products
{
	color: #fff;
	padding: 20px 0;
	height: 600px;
}

.product__item
{
	height: 400px;
	/*float: left;*/
	margin-left: 2em;
	width: 260px;
}
#Services
{
	height: 500px;
}
#Services > h2 h3
{
	text-align: center;
}
.service__item
{
	height: 400px;
	margin-left: 2em;
	width: 280px;
}
#We
{
	 
	margin: 1em 35%;

}
.we__description
{
	
	width: 450px;
}