h2{
	font-size: 3em;
	font-weight: 200;
}
@media only screen and (min-width: 767px) {
	#navigation
	{
		position: relative !important;
		left: inherit;
		top: initial;
		border-top: 1px solid #9c9c9c;
		border-bottom: 1px solid #9c9c9c;
	}
	.nav__item
	{
		display: flex !important;
		margin: 0 auto;
		width: 60% !important;
	}
	.nav__item li
	{
		border-bottom: 0 !important; 
		flex: auto;
	}
}
nav ul a:hover, nav ul a.active {
	background-color: rgba(0,0,0,0.1);
}
.caption h3{
	font-size: 3em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif !important;

}
.caption h5{
	font-family: 'Roboto', sans-serif !important;
	text-shadow: 2px 2px #000;
	font-size: 1.5em;
	font-weight: 300;
}
#logo
{
	text-align: center;
	padding: 1em;
	font-size: 3em;
	text-transform: uppercase;

}
#logo a{
	font-family: 'Six Caps', sans-serif !important;
	font-size: 2em;
}
.none
{
	display: none !important;
}
.margin-bottom
{
	margin-bottom: 1em;
}
.menu__movil
{
	cursor: pointer;
	display: block;
}
#navigation
{
	display: table !important;
	height: auto !important;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 100;


}
.opaco{
color: #fff;
background-color: rgba(10,10,10,0.3);
}
.opaco p, .opaco h2{
	color: #F1F1F1;
	text-shadow: 1px 1px #000;

}
.nav__item
{
	display: none;
	width: 100%;
}
.nav__item li
{
	border-bottom: 1px solid #ccc;
	display: block;
	line-height: 4em;
	width: 100%; 
}
.nav__item li:last-child
{
	border-bottom: none;
}
.nav__item li a
{
	display: block;
	text-align: center;
	color: #757575;
	text-transform: uppercase;
}

.centrar
{
	text-align: center;
}
.clear
{
	clear: both;
}
.letter-white
{
	color:#fff;
}
#We{
	background-image: url(../images/bg2.jpg);
	background-attachment: fixed;

}
#Products{
	background-image: url(../images/bg-gray1.jpg);
}
#Services{
	background-image: url(../images/black-bg.jpg);
}
.padding-3{
	padding-bottom: 1em;
}
.page-footer p{
	font-size: .8em;
}
#Products, #Services,.opaco, #Slide
{
	padding: 3em 0;
}
 p
 {
	text-align: justify;
}

#Products h2, #Products h3,#Products p{
	color: #757575;

}
.redondeado{
	border-radius: 50%;
}
#Services img , #Products img{
	transition: 1s all;
	cursor: pointer;
}
#Services img:hover, #Products img:hover{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
#Services h2{
	color: #9E9E9E;
}
/*
Productos
----------------------------------------------------------------------------------------*/
#categories 
{

}
#products img
{
	width: 100%;
}
.margin-vertic
{
	margin: 1em auto;
}
footer h4, #Services h3 {
	color: #9E9E9E !important;
}
.card-title{
	width: 100%;
	background: rgba(16, 10, 10, 0.64);
}
.card-action a{
	text-decoration: underline;
	color: #000 !important;
}
/*Nosotros
--------------------------------------------------------------------*/
.indicator
{
	background-color: #444 !important;
}
.slider{
	height: auto !important;
}
.indicators{
	z-index: 10;
}
footer.page-footer{
	margin-top:0 !important;
}
.slider .indicators .indicator-item.active{
	background-color: #444;
}
#Categories li{
	padding: 1em 0;
	border-bottom: 1px solid;
}