h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif !important;
    color:#757575;
}
p, a, span, input, button, nav
{
    font-family: 'Open Sans', sans-serif !important;
     color:#757575;
}
form input
{
    display: block;
}

.total{
    width: 100%;
}
.padding-top-200{
    padding-top: 200px;
}
.news{
    background-color: #01579b !important;

}
.warning{
    background-color: #ff6f00 !important;
}
.success{
    background-color: #004d40 !important;
}
.danger{
    background-color: #b71c1c !important;
}
.chip.warning, .chip.news, .chip.success, .chip.danger{
    color: #fff !important;
}
.fixed{
    position: fixed;
}
.height-full{
    height: 100%;
}
.margin-top-20
{
    display: block;
    margin-top: 20px !important;
}
.sidebar_header{
    height:90px;
    width: 100%;
    background-image: url(../images/sidebar_head_bg.png);
    background-size: cover;
}
.no-padding{
    padding: 0 !important;
}
.collapsible{
    box-shadow: none !important;
    margin: 0 !important;
}
.page-footer p{
    display: block;
    width: 100%;
    margin: 0 0 .5em 0 !important;
    color: rgba(255,255,255,0.8);
}

